{% extends "webapp/base.html" %}

{% block header %}
{% endblock header %}
{% block page %}Create Ticket{% endblock page %}
{% block content %}
<section class="bg-white shadow-md rounded-lg p-6 w-full mx-auto">
    <form action="{% url 'ticket_create' %}" method="post" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-black">

            <!-- Subject -->
            <div>
                <label for="subject" class="block text-sm font-medium text-gray-800">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Enter ticket subject"
                       class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500" required>
            </div>

            <!-- Type -->
            <div>
                <label for="type" class="block text-sm font-medium text-gray-800">Type</label>
                <select id="type" name="type"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select a Type</option>
                    {% for ttype in ticket_types %}
                        <option value="{{ ttype.id }}">{{ ttype.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Source -->
            <div>
                <label for="source" class="block text-sm font-medium text-gray-800">Source</label>
                <select id="source" name="source"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select a Source</option>
                    {% for tsource in ticket_sources %}
                        <option value="{{ tsource.id }}">{{ tsource.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Priority -->
            <div>
                <label for="priority" class="block text-sm font-medium text-gray-800">Priority</label>
                <select id="priority" name="priority"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select Priority</option>
                    {% for tsource in priority %}
                        <option value="{{ tsource.id }}">{{ tsource.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Client -->
            <div>
                <label for="client" class="block text-sm font-medium text-gray-800">Client</label>
                <select id="client" name="client"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select a Client</option>
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client.full_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Handled By -->
            <div>
                <label for="handled_by" class="block text-sm font-medium text-gray-800">Handled By</label>
                <select id="handled_by" name="handled_by"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select a Handler</option>
                    {% for handler in handlers %}
                        <option value="{{ handler.id }}">{{ handler.full_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Office -->
            <div>
                <label for="office" class="block text-sm font-medium text-gray-800">Office</label>
                <select id="office" name="office"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select an Office</option>
                    {% for office in offices %}
                        <option value="{{ office.id }}">{{ office.company_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Machine -->
            <div>
                <label for="machine" class="block text-sm font-medium text-gray-800">Machine</label>
                <select id="machine" name="machine"
                        class="mt-1 block w-full h-10 rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500">
                    <option value="">Select a Machine</option>
                    {% for machine in machines %}
                        <option value="{{ machine.id }}">{{ machine.machine_name }}-{{ machine.machine_id }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Email/SMS Notification -->
            <div class="flex items-center col-span-1 md:col-span-2">
                <input type="checkbox" id="email_sms_notification" name="email_sms_notification"
                       class="h-4 w-4 text-gray-700 border-gray-300 rounded focus:ring-gray-500">
                <label for="email_sms_notification" class="ml-2 text-sm text-gray-800">Enable Email/SMS Notification</label>
            </div>

            <!-- Additional Information -->
            <div class="col-span-1 md:col-span-2">
                <label for="additional_information" class="block text-sm font-medium text-gray-800">Additional Information</label>
                <textarea id="additional_information" name="additional_information" rows="3"
                          class="mt-1 block w-full rounded-md border border-gray-300 focus:ring-gray-500 focus:border-gray-500"
                          placeholder="Provide any additional details"></textarea>
            </div>

            <!-- Photo -->
            <div>
                <label for="photo" class="block text-sm font-medium text-gray-800">Photo</label>
                <input type="file" id="photo" name="photo" accept="image/*"
                       class="mt-1 block w-full h-10 text-sm text-gray-800 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500">
            </div>

            <!-- Video -->
            <div>
                <label for="video" class="block text-sm font-medium text-gray-800">Video</label>
                <input type="file" id="video" name="video" accept="video/*"
                       class="mt-1 block w-full h-10 text-sm text-gray-800 border border-gray-300 rounded-md focus:ring-gray-500 focus:border-gray-500">
            </div>

        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" 
                    class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-md">
                Save Ticket
            </button>
        </div>
    </form>
</section>


{% endblock content %}
