{% extends "webapp/base.html" %}

{% block header %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plotly.com/5.11.0/plotly.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock header %}
{% block page %}Dashboard{% endblock page %}


{% block content %}

<section>
    <section class="grid grid-cols-4 gap-4">
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Orders</h1>
            <h1 class="font-bold text-center text-2xl"> {{ order }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Tickets </h1>
            <h1 class="font-bold text-center text-2xl"> {{ ticket }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Staff User</h1>
            <h1 class="font-bold text-center text-2xl"> {{ staff }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Regular User</h1>
            <h1 class="font-bold text-center text-2xl"> {{ clients }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total User</h1>
            <h1 class="font-bold text-center text-2xl"> {{ total_user }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Products</h1>
            <h1 class="font-bold text-center text-2xl"> {{ product }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Machine</h1>
            <h1 class="font-bold text-center text-2xl"> {{ machine }}</h1>
        </section>
        <section class="w-full border shadow-xl rounded-xl bg-amber-100 border-black p-4">
            <h1 class="font-bold text-center">Total Reviews</h1>
            <h1 class="font-bold text-center text-2xl"> {{ Reviews }}</h1>
        </section>

    </section>

    <section class="grid grid-cols-2">


        <div class="grid-cols-1 my-4">
            <!-- Render the Day chart as an image -->
            <img src="data:image/png;base64,{{ day_chart_url }}" alt="Day-wise Counts">
        </div>

        <div class="grid-cols-1 my-4">
            <!-- Render the Month chart as an image -->
            <img src="data:image/png;base64,{{ month_chart_url }}" alt="Month-wise Counts">
        </div>


        <div class="grid-cols-1 my-4">
            <img src="data:image/png;base64,{{ year_chart_url }}" alt="Year-wise Counts">
        </div>

    </section>
</section>
{% endblock content %}