{% extends "webapp/base.html" %}

{% block header %}
{% endblock header %}

{% block page %}Localization{% endblock page %}

{% block content %}
<div class="bg-white shadow rounded-lg p-6">
    <table class="min-w-full border-collapse border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="border border-gray-300 px-4 py-2 text-left">#</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Category</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Count</th>
            </tr>
        </thead>
        <tbody>
       
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">3</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'add_ticket' %}">Ticket Types</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ tickettype }}</td>
            </tr>
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">4</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'ticket_source' %}">Ticket Sources</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ ticketsource }}</td>
            </tr>
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">5</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'ticket_priorities' %}">Ticket Priorities</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ TicketPriority }}</td>
            </tr>
          

            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">8</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url "order_source" %}">Order Source</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ OrderSource }}</td>
            </tr>
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">9</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'country' %}">Country</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ Country }}</td>
            </tr>
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">10</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'states' %}">State</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ State }}</td>
            </tr>


            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">10</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'order_status' %}">Order Status</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ State }}</td>
            </tr>


            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">10</td>
                <td class="border border-gray-300 px-4 py-2 text-lg font-bold text-blue-600 hover:underline">
                    <a href="{% url 'ticket_stats' %}">Ticket Status</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">{{ State }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
