{% extends "webapp/base.html" %}
{% load static %}
{% block header %}
{% endblock header %}
{% block page %}Machine{% endblock page %}

{% block content %}
<section class="container grid grid-cols-5 gap-4 my-4">






    
    {% if not user.is_superuser and not user.is_staff %}
 
    {% else  %}
    <a href="{% url 'machine_create' %}" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Create Data
    </a>
    {% endif %}



    <a href="{% url 'download_machine' %}" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Download Excel 
    </a>

    {% if user.is_superuser  %}

    <a href="{% url 'machine_trash' %}" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Trash Items 
    </a>
    {% endif %}
</section>

<div class="bg-white shadow rounded-lg p-6">

    <table class="min-w-full border-collapse border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="border border-gray-300 px-4 py-2 text-left">#</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Machine ID</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Machine Name</th>

                <th class="border border-gray-300 px-4 py-2 text-left">Photo</th>
                <!-- <th class="border border-gray-300 px-4 py-2 text-left">Attribute</th> -->
 
                <th class="border border-gray-300 px-4 py-2 text-left">status</th>
                <th class="border border-gray-300 px-4 py-2 text-left">created_at</th>

                {% if user.is_superuser  %}
                <th scope="col" class="border border-gray-300 px-4 py-2 text-left">Trash</th>
                {% endif %}
            
            </tr>
        </thead>
        <tbody>
            {% for localization in machine %}
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">{{ forloop.counter }}</td>

                
    {% if not user.is_superuser and not user.is_staff %}

    <td class="border border-gray-300 px-4 py-2">
        <a href="#">{{ localization.machine_id }}</a>
        </td>
    {% else  %}


    <td class="border border-gray-300 px-4 py-2">
        <a href="{% url 'view_machine' id=localization.id %}">{{ localization.machine_id }}</a>
        </td>

    {% endif %}


             



                <td class="border border-gray-300 px-4 py-2">{{ localization.machine_name }}</td>
                <!-- <td class="border border-gray-300 px-4 py-2">{{ localization.photo }}</td> -->
                <td class="border border-gray-300 px-4 py-2">View</td>
                <!-- <td class="border text-sm border-gray-300 px-4 py-2">{{ localization.attributes }}</td> -->
     

          
                <td class="border border-gray-300 px-4 py-2">
                    {% if localization.status %}
                    <span class="text-green-500 font-bold">Active</span>
                    {% else %}
                    <span class="text-red-500 font-bold">Inactive</span>
                    {% endif %}
                </td>

                <td class="border border-gray-300 px-4 py-2">{{ localization.created_at }}</td>

                {% if user.is_superuser  %}
                    <td class="border border-gray-300 px-4 py-2"><a href="{% url 'delete_machine' id=localization.id %}"><img class="w-6 h-6 object-contain" src="{% static 'webapp/trash.png' %}" alt=""></a></td>
                {% endif %}

            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center text-gray-500 py-4">No data available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
