{% extends "webapp/base.html" %}

{% block header %}
{% endblock header %}
{% block page %}Orders{% endblock page %}

{% block content %}
<section class="container grid grid-cols-5 gap-4 my-4">
    <a href="" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        View Data
    </a>
    <a href="{% url 'create_order' %}" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Create Data
    </a>
    <a href="" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Update Data
    </a>
    <a href="" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Delete Data
    </a>
    <a href="" class="text-center  bg-gray-400 text-black py-2 px-4 rounded-lg hover:bg-amber-400 transition">
        Export Data
    </a>
</section>
<div class="bg-white shadow rounded-lg p-6">
    <table class="min-w-full border-collapse border border-gray-300">
        <thead class="bg-gray-100">
            <tr>
                <th class="border border-gray-300 px-4 py-2 text-left">#</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Order ID</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Source</th>
                <th class="border border-gray-300 px-4 py-2 text-left">PO Number</th>
                <th class="border border-gray-300 px-4 py-2 text-left">Client</th>


                <th class="border border-gray-300 px-4 py-2 text-left">Created</th>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                <td class="border border-gray-300 px-4 py-2">{{ forloop.counter }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <a href="{% url 'view_order' id=order.id %}">{{ order.order_id }}</a>
                    </td>
                <td class="border border-gray-300 px-4 py-2">{{ order.source }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ order.po_number }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ order.client }}</td>

       
     
                <td class="border border-gray-300 px-4 py-2">{{ order.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11" class="text-center text-gray-500 py-4">No data available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
